@import 'headings.scss';
@import 'buttons.scss';
@import 'ico-fonts.scss';
@import 'modules/socials.scss';

.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 1.5rem;

    @media (min-width: 1600px) {
        width: 80%;
        max-width: 80%;
    }

    @media (min-width: 1200px) and (max-width: 1600px) {
        
    }

    @media screen and (max-width: 767px) {
        padding: 0 15px;
    }
}