$primary-color-dark:   #E64A19;
$primary-color:        #FF5722;
$primary-color-light:  #FFCCBC;
$primary-color-text:   #FFFFFF;
$primary-color-bg:     #FFFFFF;
$accent-color:         #536DFE;
$accent-color-dark:    #607D8B;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;
