@import '_variables.scss';

.button {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    font-size: 27px;
    line-height: 46px;
    padding: 16px 72px;
    border-radius: 80px;
    box-shadow: 0 57px 86px 5px rgba(2, 2, 2, 0.14);

    @media (min-width: 1200px) and (max-width: 1600px) {
        font-size: 1.5rem;
        line-height: 2.5rem;
        padding: 0.8rem 4rem;
    }

    @media screen and (max-width: 767px) {
        font-size: 20px;
        line-height: 20px;
        padding: 16px 42px;
    }
}

.btn-primary {
    @extend .button;
    color: #FFF;
    border: none;
    background: $orange_primary;
    background: linear-gradient(to right, $orange_primary, $orange_secondary);
    transition: all 300ms ease-in-out;
    
    @include hover-state {
        outline: 0;
        opacity: 0.9;
        transition: all 300ms ease-in-out;
    }
}