@import '_variables';
@import './modules/text-block';
@import './modules/icons';

body {
    // background-color: $primary-color;
    background-image: url('/images/bg-home.jpg');
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;

    #page_home {
        height: 100%;

        #block_hello {
            position: absolute;
            width: 35%;
            height: 80%;
            top: 10%;
            right: 10%;

            &:before {
                content: "";
                display: block;
                position: absolute;
                right: 15px;
                top: 50px;
                background-image: url("/images/spider-web.svg");
                background-repeat: no-repeat;
            }
        }

        #block_contact {
            position: absolute;
            height: 27%;
            width: 27%;
            top: 60%;
            top: calc(60% + 50px);
            top: -webkit-calc(60% + 50px);
            right: calc(15% + 150px);
            right: -webkit-calc(15% + 150px);
            z-index: 3;
        }

        #block_photo {
            position: absolute;
            padding: 15px;
            z-index: 2;
            transform: rotate(-15deg);
            top: 32%;
            right: calc(15% + 400px);
            right: -webkit-calc(15% + 400px);

            img {
                width: 100%;
                max-width: 100%;
            }
        }
    }
}