.text-block {
  padding: 30px;
  -webkit-box-shadow: 0px 0px 15px 5px rgba(117, 117, 117, 0.75);
  -moz-box-shadow: 0px 0px 15px 5px rgba(117, 117, 117, 0.75);
  box-shadow: 0px 0px 15px 5px rgba(117, 117, 117, 0.75); }

.icon {
  position: relative;
  display: inline-block;
  text-decoration: none; }
  .icon:before {
    content: "";
    display: inline-block;
    height: 25px;
    width: 25px;
    margin-right: 15px;
    background-repeat: no-repeat;
    background-size: 100%; }
  .icon span {
    top: -7px;
    position: relative; }
  .icon.github:before {
    background-image: url("/images/github.svg"); }
  .icon.twitter:before {
    background-image: url("/images/twitter.svg"); }
  .icon.linkedin:before {
    background-image: url("/images/linkedin.svg"); }

body {
  background-image: url("/images/bg-home.jpg");
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat; }
  body #page_home {
    height: 100%; }
    body #page_home #block_hello {
      position: absolute;
      width: 35%;
      height: 80%;
      top: 10%;
      right: 10%; }
      body #page_home #block_hello:before {
        content: "";
        display: block;
        position: absolute;
        right: 15px;
        top: 50px;
        background-image: url("/images/spider-web.svg");
        background-repeat: no-repeat; }
    body #page_home #block_contact {
      position: absolute;
      height: 27%;
      width: 27%;
      top: 60%;
      top: calc(60% + 50px);
      top: -webkit-calc(60% + 50px);
      right: calc(15% + 150px);
      right: -webkit-calc(15% + 150px);
      z-index: 3; }
    body #page_home #block_photo {
      position: absolute;
      padding: 15px;
      z-index: 2;
      transform: rotate(-15deg);
      top: 32%;
      right: calc(15% + 400px);
      right: -webkit-calc(15% + 400px); }
      body #page_home #block_photo img {
        width: 100%;
        max-width: 100%; }
